
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#" >Shoose Mi</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="Navber">
			<form action="#" class="search">
				<div class="input-group w-100">
					<input type="text" class="form-control" style="width:55%;" placeholder="Search">
					<select class="custom-select" name="category_name">
							<option value="">All type</option><option value="codex">Sneakers</option>
							<option value="comments">Sandals</option>
							<option value="content">Dress Shoes</option>
					</select>
					<div class="input-group-append">
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-search"></i>
					</button>
					</div>
				</div
			</form> <!-- search-wrap .end// -->
			<form class="form-inline my-2 my-lg-0">
				<span class="widget-header dropdown mr-2">
					<a href="#" data-toggle="dropdown" data-offset="20,10">
						<i class="icon-sm rounded-circle border fa fa-user"></i>
						<small class="text-muted">ログイン</small>
						<span class="ml-2">My account <i class="fa fa-caret-down"></i></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<form class="px-4 py-3">
							<div class="form-group">
								<label>メールアドレス</label>
								<input type="email" class="form-control" placeholder="email@example.com">
							</div>
							<div class="form-group">
								<label>パスワード</label>
								<input type="password" class="form-control" placeholder="Password">
							</div>
								<button type="submit" class="btn btn-primary">ログイン</button>
						</form>
						<hr class="dropdown-divider">
						<a class="dropdown-item"><%= link_to "はじめてご利用の方", "#" %></a>
						<a class="dropdown-item"><%= link_to "ID パスワードを忘れた方", "#" %></a>
					</div> <!--  dropdown-menu .// -->
					<a href="#" class="widget-header mr-2">
						<i class="icon-sm rounded-circle border fa fa-shopping-cart"></i>
						<span class="notify">0</span>
					</a>
					<a href="#" class="widget-header mr-2">
						<i class="icon-sm rounded-circle border fa fa-heart"></i>
					</a>
				</span>
			</form>
		</div>
	</div>
</nav>


<header class="section-header">
	<section class="header-top-light border-bottom">
		<div class="container">
				<ul class="nav">
					<li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Category </a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li id="accordion1"><a class="dropdown-item" data-toggle="collapse" data-target="#womenlist" aria-expanded="false" aria-controls="womenlist">WOMEN</a>
								<ul class="collapse" id="womenlist" data-parent="#accordion1">
									<li><a href="#">スニーカー</a></li>
									<li><a href="#">パンプス</a></li>
									<li><a href="#">サンダル</a></li>
								</ul>
							</li>
							<li id="accordion2"><a class="dropdown-item" data-toggle="collapse" data-target="#menlist" aria-expanded="false" aria-controls="menlist">MEN</a>
								<ul class="collapse" id="menlist" data-parent="#accordion2">
									<li><a href="#">スニーカー</a></li>
									<li><a href="#">スリッポン</a></li>
									<li><a href="#">サンダル</a></li>
								</ul>
							</li>
							<li id="accordion3"><a class="dropdown-item" data-toggle="collapse" data-target="#kidlist" aria-expanded="false" aria-controls="kidlist">KIDS</a>
								<ul class="collapse" id="kidlist" data-parent="#accordion3">
									<li><a href="#">スニーカー</a></li>
									<li><a href="#">サンダル</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item"><a href="#" class="nav-link"> Delivery </a></li>
					<li class="nav-item"><a href="#" class="nav-link"> Help </a></li>
					<li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">   Language </a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#">English</a></li>
							<li><a class="dropdown-item" href="#">Japanese</a></li>
						</ul>
					</li>
				</ul> <!-- navbar-nav.// -->
			</nav>
		</div>
	</section>
</header> <!-- section-header.// -->