.simple_form {
  width: 50%;
  margin: 0 auto;
}

.form-group-invalid {
  label {
      color: red;
  }
  .form-control {
      border: 1px solid red;
  }        
  .invalid-feedback {
      color: red;
  }
}