.simple_form {
  width: 50%;
  margin: 0 auto;
}

.form-group-invalid {
  label {
      color: red;
  }
  .form-control {
      border: 1px solid red;
  }        
  .invalid-feedback {
      color: red;
  }
}

.score {
  display: block;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.score-wrap {
  display: inline-block;
  position: relative;
  height: 19px;
}

.score .stars-active {
  color: #EEBD01;
  position: relative;
  z-index: 10;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.score .stars-inactive {
  color: grey;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: initial;
  /* overflow: hidden; */
}

.jumbotron {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center 50%;
}