<%= simple_form_for [:admins, @product] do |f| %>
    <h2>商品登録画面</h2>
    <%= f.input :id, label: "商品ID" %>
    <%= f.input :name, label: "商品名" %>
    カテゴリ
    <%= f.button :submit, "確認画面へ", :class => "btn-primary" %>
<% end %>